{
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "quoteProps": "consistent",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}